html, body {
  height: 100%;
}

body {
  background-color: #e3e3e3;
}

.container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.container {
  height: 93%;
}

#isopen {
  display: inline-block;
  vertical-align: middle;
  width: 99%;
}

#footer {
  vertical-align: bottom;
  width: 99%;
}

h1, p {
  text-align: center;
  font-family: "Georgia", Georgia, serif;
}

h1 {
  font-size: 12em;
}
